

$primary-color: #015eb9;
$primary-darker-color: #004281;
$primary-lighter-color: #2B79C4;
$primary-sea:#4286f4;


$body-color: rgba(249, 248, 249, 255);
$white-color: #FEFFFE;
$black-color: #242424;

$danger-color: #D32F2F;
$danger-hover-color: #B71C1C;
$warning-color: #FBC02D;
$warning-hover-color: #F9A825;
$success-color: #388E3C;
$success-hover-color: #2E7D32;

$grey-text: #9da7b7;
$grey-6: #a3a3a3;
$grey-5: #b9bbbd;
$grey-4: #d0d6de;
$grey-3: #e2e7f3;
$grey-2: #edf3f9;
$grey-1: #fcfcfc;

$table-header: #F8F8F8;

$item-hover-color: rgba(255, 255, 255, 0.1);
$item-active-color: rgba(255, 255, 255, 0.2);

$search-background: rgba(249, 248, 249, 255);

$card-shadow: rgba(0, 0, 0, 0.1);
$card-hover: rgba(0, 0, 0, 0.15);

$loader-shadow: rgba(0, 0, 0, 0.3);

$blur:rgba(255, 255, 255, 0.6);

$button-padding: 12px 24px;
$card-padding: 20px;
$border-radius: 2%;
